.bundle
db/*.sqlite3
log/*.log
tmp/**/*
db/seeds/my-seeds-local.rb
db/seeds/my-seeds-heroku.rb
db/development_structure.sql
# Vim
*.swp
*.dump
coverage
*.tmproj
.DS_Store
public/uploads/*chromedriver.log
public/uploads/
chromedriver.log
.use_capybara_webkit
config/locales/.wti
npm-debug.log
db/structure.sql
.sass-cache
Cookbooks
.vagrant
.project
.secret.rvmrc

# MG generated routes file
routes.txt


##
# Ansible specific stuff
##

# Don't want ssl certs from ansible
ansible/roles/ssl/files/null/ssl/certs
ansible/roles/ssl/files/null/ssl/keys

# Secret files from ansible
ansible/secret/*.yml
ansible/secret/access_key.pub
ansible/roles/ssl/files

###

.env*
tmp
vendor
.rvmrc
