|Fel hyn mae #{Configuration[:company_name]} yn gweithio: rwyt ti'n cyflwyno dy broject, dweud 
strong faint wyt ti eisiau
|a
strong deadline
|gyrraedd y nod. Yna hyrwydda dy broject a gall unrhywun ddewis i
strong gefnogi 
|gyda isafswm o £10 a
strong derbyn gwobr
|am hynny! Os wyt ti'n cyrraedd y deadline wedi pasio'r targed, rwyt ti'n derbyn y pres. Fel arall, mae pawd yn cael eu pres yn ôl. Hawdd!
#show_tips
  a href='#' Darllen mwy ar sut mae #{Configuration[:company_name]} yn gweithio
