- backer = @notification.backer
|Prosiect: #{backer.project.name}
br/
|Allwedd: #{backer.key}
br/
|ID y dull talu: #{backer.payment_id}
br/
br/
|This support received notification of cancellation after having already received a confirmation notification.
br/
|Check the payment method website the actual status of the transaction and, if confirmed as the support included, confirm it in the Heliwm (adm / backers) site

