- user = @notification.user
|Helo, <strong>#{user.display_name}</strong> !
br
br
|Rydyn ni wedi sylwi bod gen ti £ #{user.credits} mewn credydau ar Heliwm. Beth am gefnogi prosiect arall efallai?
br
br
|Rydyn ni wedi nodi rhai awgrymiadau isod ar dy gyfer:
br
br
-user.recommended_projects.limit(3).each do |project|
  |#{link_to(project.name, "#{Configuration[:base_url]}/projects/#{project.to_param}")}
  br
  |#{project.headline}
  br
  br
br
br
|Dyma sut mae gwneud o gam-wrth-gam fel na chei di drafferth defnyddio dy gredydau!
br
br
|1 - #{link_to('Dewis y prosiect rwyt ti eisiau ei gefnogi;', explore_url)}
br
|2 - Clicia ar y botwm 'Cefnogi'r Prosiect hwn';
br
|3 -Dwed wrthym ni faint wyt ti eisiau ei roi a sicrhau dy fod yn rhoi tic yn y blwch sy'n dweud dy fod eisiau defnyddio dy gredydau i wneud hynny..
br
|4 - Clicia ar Adolygu a Pharhau i Dalu;
br
|5 -Dyna ni! Caiff dy rodd ei gadarnhau :D
br
br
|Os oes well gen ti gael ad-daliad, yna mewngofnoda i dy gyfrif Heliwm a chlicia #{link_to("yma", "#{Configuration[:base_url]}/users/#{user.to_param}#credits")}. 
br
br
|Os oes unrhyw bryderon eraill gen ti yna cysyllt â ni ar post.heliwm@gmail.com .
br
br
|Cofion,
|Tîm Heliwm
