- project = @notification.project
| Iawn!
br
br
| Mae prosiect arall wedi cael ei greu ar #{Configuration[:company_name]}!
== " por #{link_to project.user.name, user_url(project.user)}"
br
== "Email y cynhyrchydd: #{mail_to project.user.email}"
br
br
| Manylion y prosiect:
br
br
b Enw:
= " #{project.name}"
br
b Targed:
= " #{project.display_goal}"
br
b Rhestr dolenni perthnasol:
br
= simple_format(project.more_links)
br
b Cefnogwyr cyntaf:
br
= simple_format(project.first_backers)
br
b Sut glywson nhw am #{Configuration[:company_name].downcase}:
br
= simple_format(project.how_know)
br
br
= link_to 'Gweld rhagor am y prosiect', project_by_slug_url(permalink: project.permalink)

