- project = @notification.project
| Hey!
br
br
| Crewyd prosiect arall yn #{Configuration[:company_name]}!
== " gan #{link_to project.user.name, user_url(project.user)}"
br
== "Ebostia gynhyrchydd y prosiect: #{mail_to project.user.email}"
br
br
| Manylion y prosiect isod:
br
br
b Enw:
= " #{project.name}"
br
b Targed:
= " #{project.display_goal}"
br
b Rhestr dolenni perthnasol:
br
= simple_format(project.more_links)
br
b Cefnogwyr cyntaf:
br
= simple_format(project.first_backers)
br
b Como conheceu o #{Configuration[:company_name].downcase}:
br
= simple_format(project.how_know)
br
br
= link_to 'Gweld mwy am y prosiect hwn', project_by_slug_url(permalink: project.permalink)

