-backer = @notification.backer
|Helo, <strong>#{backer.user.display_name}</strong>!
br
br
|Mae dy rodd i #{backer.project.name} yn cael ei wirio ar <strong>#{backer.payment_method}</strong>.
br
br
|Mae hwn yn fesur diogelwch er mwyn atal twyll, ac ar gyfer rhai taliadau, bydd rhaid iddynt gysylltu â'r person. Dyma'r rheswm pam nad yw wedi cael ei awdurdodi eto..
br
br
|Mewn rhai achosion gallai #{backer.payment_method} gysylltu â thi er mwyn cadarnhau'r trosglwyddiad.
br
br
|Os yw'r rhodd yn fwy na £10 000, yna mae'n bosib y bydd angen dogfenaeth ychwanegol i'w gadarnhau. Yn yr achos hwnnw byddant yn cysylltu â thi am fanylion pellach.
br
br
|Pan fydd dy rodd wedi ei gadarnhau, byddwn yn anfon ebost arall atat.
br
|Allwedd cefnogiad: #{backer.key}
br
br
|Hwyl am y tro,
br
|Gwefan #{Configuration[:company_name]}
