strong Cymraeg Wyt ti'n siwr dy fod eisiau bod yn ddienw? 
| Mae gwneud dy gefnogaeth yn gyhoeddus yn helpu dy enw da ac yn cyfri yn ein rankio o gefnogwyr.
br
br
| Ar wahân i hynny, ni fydd y swm rwyt yn ei roi fel cefnogaeth yn cael ei ddangos i neb ond perchennog y prosiect (fydd yn gwybod pwy wyt ti), hyd yn oed os yw'r gefnogaeth yn un cyhoeddus.
