h2 Cymraeg Dwi eisiau cefnogi, be nesa?
h3 Sut alla i gefnogi'r prosiect hwn?
p Yn gyntaf, meddylia am faint wyt ti eisiau ei roi a dewis dy anrheg diolch. Yna clicia ar “Adolygu a gwneud y taliad”  er mwyn myn â ti at y dudalen nesaf lle galli gadarnhau dy daliad.
h3 Pryd gaiff y taliad ei weithredu?
p Unwaith mae Paypal wedi cadarnhau y trosglwyddiad. Yna, os nad yw'r prosiect yn cyrraedd #{@project.display_goal} erbyn #{@project.display_expires_at}, byddi'n derbyn dy arian nôl ar ffurf credydau ar #{Configuration[:company_name]}.
h3 Felly dwi'n cael fy mhres yn ôl os nad yw'r prosiect yn llwyddo?
p Wyt! Rwyt ti'n derbyn 100% o be dalais ti ar furf credydau i gefnogi prosiectau eraill ar #{Configuration[:company_name]}.
h3 A be os nad ydw i eisiau defnyddio credydau ar in #{Configuration[:company_name]}?
p Dim problem. Jest dos i'r tab #{link_to t('credits.title'), user_path(current_user, anchor: :credits), :target => :_blank}, a gofyn am ad-daliad. Bydd yn cael ei drosglwyddo o PayPal nôl i dy gyfrif banc.
h3 Os caiff y prosiect ei ariannu, sut ydw i'n cael fy anrheg diolch?
p Pan mae dy anhreg yn barod, bydd #{link_to @project.user.display_name, user_path(@project.user)} yn cysylltu efo ti i drefnu ei ddanfon atat.
