| Helo
- if @resource.name
  | , #{@resource.name}!
br
br
| Wnes ti anghofio dy gyfrinair? Dim problem, gelli ei ail-osod drwy glicio 
= link_to('gosod cyfrinair', edit_password_url(@resource, reset_password_token: @resource.reset_password_token))
br
| Os wyt ti'n cael rhagor, o drafferth, 
= link_to 'cysyllta gyda ni', "http://www.heliwm.com/", target: '__blank'
br
br
| Hwyl,
br
= Configuration[:company_name]
